<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <!--<binding name="GsxWSLaAspBinding" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>-->
                <binding name="GsxWSAmIPhoneBinding" messageEncoding="Mtom">
                  <security mode="Transport">
                    <transport clientCredentialType="Certificate"/>
                    <message clientCredentialType="Certificate"/>
                  </security>
                </binding>
              <!--<binding name="GsxWSAmIPhoneBinding1" messageEncoding="Mtom">
                <security mode="Transport">
                  <transport clientCredentialType="Certificate" />
                  <message clientCredentialType="Certificate" />
                </security>
              </binding>-->
            </basicHttpBinding>
        </bindings>
       <behaviors>
      <endpointBehaviors>
        <behavior name="GSXServiceBehav">
          <clientCredentials>
            <!--TEST-->
            <!--<clientCertificate storeName="My" storeLocation="LocalMachine" x509FindType="FindByThumbprint" findValue="bc 65 28 18 ca 35 14 a4 22 ce b3 5f d1 04 88 02 15 1e 56 e3"/>-->
             <!--PROD-->
            <clientCertificate storeName="My" storeLocation="LocalMachine" x509FindType="FindByThumbprint" findValue="3c 0a 93 a6 c8 21 48 ed f1 df 41 0c 8b 26 98 c0 16 73 74 96"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
        <client>
          <!--TEST-->
          <!--<endpoint address="https://gsxapiut.apple.com/gsx-ws/services/am/asp" binding="basicHttpBinding" bindingConfiguration="GsxWSLaAspBinding" contract="Client.GsxWSLaAspPort" name="GsxWSLaAspPort" behaviorConfiguration="GSXServiceBehav"/>-->
          <!--PROD-->
            <!--<endpoint address="https://gsxapi.apple.com/gsx-ws/services/am/iphone"
                behaviorConfiguration="GSXServiceBehav" binding="basicHttpBinding"
                bindingConfiguration="GsxWSLaAspBinding" contract="Client.GsxWSLaAspPort"
                name="GsxWSLaAspPort" />-->
            <endpoint address="https://gsxapi.apple.com/gsx-ws/services/am/iphone" binding="basicHttpBinding" bindingConfiguration="GsxWSAmIPhoneBinding" contract="Client.Production.GsxWSAmIPhonePort" name="GsxWSAmIPhonePort"/>
        </client>
    </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
</startup>
</configuration>
