<?xml version="1.0" encoding="utf-8" ?>
<settingsSection>
  <!--  Manual Configuration overwrite Dynamic one-->
  <add key="MANUAL_DB_CONNECTION" value=""></add>
  <add key="MANUAL_DB_USERID" value=""></add>
  <add key="MANUAL_DB_PASSWORD" value=""></add>
  <add key="MANUAL_HUB" value=""></add>
  <add key="MANUAL_DOMAIN" value=""></add>

  <!--  LOGGING Information for Development-->
  <!--
  <add key="ELITA_INITVECTOR" value="TestIV13" />
  <add key="DATABASE_USERID" value="ADetraVA78SxM56SbhtNiA==" />
  <add key="DATABASE_PASSWORD" value="ComKAsib0acj3dYx4w41tw==" />
  <add key="DATABASE_USERID_EU" value="X+oNxqfD8N00PIdrB5qnVQ==" />
  <add key="DATABASE_PASSWORD_EU" value="ComKAsib0acj3dYx4w41tw==" />
  <add key="FTP_DIRECTORY" value="R1gF7UiF0FNrHDnSVhQF533/GyLnzOYgVhLoWErBHUEym+rJQ2woma3tSUM6rJr8" />
  <add key="FTP_USERID" value="CJilKDbE6o7FMSWTlkQ9og==" />
  <add key="FTP_PASSWORD" value="vySR4yi2w2aBrXtBTOYN4g==" />
  -->
</settingsSection>
