<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assurant.Elita.Audit" version="3.0.0" targetFramework="net462" />
  <package id="Assurant.Elita.Base.DataAccess" version="4.0.0" targetFramework="net462" />
  <package id="Assurant.Elita.ClientIntegration" version="4.0.1" targetFramework="net462" />
  <package id="Assurant.Elita.Configuration" version="5.0.1" targetFramework="net462" />
  <package id="Assurant.Elita.Fulfillment.BusinessRules" version="14.6.0.1" targetFramework="net462" />
  <package id="Assurant.Elita.Security" version="4.0.1" targetFramework="net462" />
  <package id="Assurant.Integration.Rest.HttpProvider" version="1.0.4" targetFramework="net46" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net4" />
  <package id="Elita.Assurant.Common.Types" version="2.0.0" targetFramework="net462" />
  <package id="Elita.Assurant.Common.Validation" version="2.0.0" targetFramework="net462" />
  <package id="Elita.Common.MessagePublishing" version="2.0.3" targetFramework="net462" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Services3" version="3.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net462" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net46" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Unity" version="2.1.505.2" targetFramework="net4" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net462" />
</packages>