<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WorkersConfigurationSection" type="Assurant.Elita.WorkerFramework.Config.WorkersConfigurationSection, Assurant.Elita.WorkerFramework" />
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="development" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="test" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="modl" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="prod" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="settingsSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="externalSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="HarvesterSection" type="ElitaHarvesterService.HarvesterSection, ElitaHarvesterService" />
    <sectionGroup name="elitaConfiguration" type="Assurant.Elita.Configuration.ElitaConfigurationSectionGroup, Assurant.Elita.Configuration">
      <section name="general" type="Assurant.Elita.Configuration.GeneralSection, Assurant.Elita.Configuration" />
      <section name="database" type="Assurant.Elita.Configuration.DatabaseSection, Assurant.Elita.Configuration" />
      <section name="security" type="Assurant.Elita.Configuration.SecuritySection, Assurant.Elita.Configuration" />
      <section name="felita" type="Assurant.Elita.Configuration.FelitaSection, Assurant.Elita.Configuration" />
      <section name="smartStream" type="Assurant.Elita.Configuration.SmartStreamSection, Assurant.Elita.Configuration" />
      <section name="unixServer" type="Assurant.Elita.Configuration.UnixServerSection, Assurant.Elita.Configuration" />      
      <section name="webService" type="Assurant.Elita.Configuration.WebServiceSection, Assurant.Elita.Configuration" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <HarvesterSection>
    <Harvesters>
      <clear />
      <add Name="DEV" Environment="DEVELOPMENT" Hub="NO" MachineDomain="NONE" />
      ~harvestersList~
    </Harvesters>
  </HarvesterSection>
  <settingsSection file="Settings.xml">
  </settingsSection>
  <system.diagnostics>
    <switches>
      <!-- 0 - Disabled,1 - Error Messages,2 - Error & Warnings,3 - Error, Warnings, Information,4 - Error, Warnings, Information & Debug -->
      <add name="TraceSwitch" value="Verbose" />
    </switches>
    <sources>
      <source name="ElitaHarvesterService" switchName="TraceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="EventLog" type="System.Diagnostics.EventLogTraceListener,System, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="ElitaHarvesterService"></add>
          <remove name="Default"></remove>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
    </trace>
  </system.diagnostics>
  <WorkersConfigurationSection MonitoringDurationSeconds="300">
    <Services>
     ~HarvesterWorkers~
      <!--<add ConfigurationType="ElitaHarvesterService.Workers.DocumentUpload.DocumentUploadWorkerConfig, ElitaHarvesterService" Name="DocumentUpload" WorkerTypeName="ElitaHarvesterService.Workers.DocumentUpload.DocumentUploadWorker, ElitaHarvesterService" SleepTimeSeconds="300" MinimumThreads="1" MaximumThreads="1" InitialThreads="1" AllowDynamicScaling="Manual" DropFolder="C:\DropFolder" ErrorFolder="C:\ErrorFolder" StageingFolder="C:\StageingFolder" ProcessedFolder="C:\ProcessedFolder" CompressedFileSearchPattern="*.zip" MachineDomain="NONE" Hub="NO" />-->
    </Services>
  </WorkersConfigurationSection>
  <appSettings>
    <add key="SLEEPTIME_IN_SEC" value="30" />
    <add key="MAX_ALLOWED_FAILURE_COUNT" value="5" />
    <add key="FAILURE_SLEEP_TIME_IN_MIN" value="30" />
    <!-- Darty Items-->
    <add key="DOMICILIATION" value="~Domiciliation~" />
    <add key="APPLICATIONSOURCE" value="~ApplicationSource~" />
    <add key="DARTY_URL" value="~DartyUrl~" />
    <add key="DARTY_EXP_DAYS" value="~DartyExpirationDays~" />
    <!-- Infrastructure Items -->
    <add key="DEBUG_LOGIN" value="true" />
    <add key="TRACE_ON" value="true" />
    <add key="SMTPMAILSERVER" value="mailrelay2005.etdbw.com" />
    <add key="EVENTLOG" value="ElitaPlus" />
    <add key="NETWORKID" value="tranws" />
    <add key="ERRORMAIL" value="piyush.gupta@assurant.com" />
    <!-- Outbound Communication Items -->
    <add key="OUTBOUND_COMM_USERNAME" value="~OutboundUserName~" />
    <add key="OUTBOUND_COMM_PASSWORD" value="~OutboundPassword~" />
    <add key="OUTBOUND_COMM_PURCHASE_TRIGGER_KEY" value="~OutboundPurchaseTriggerKey~" />
    <add key="OUTBOUND_COMM_REWARD_TRIGGER_KEY" value="~OutboundRewardTriggerKey~" />
    <add key="OUTBOUND_COMM_CANCEL_TRIGGER_KEY" value="~OutboundCancellationTriggerKey~" />   
    <add key="OUTBOUND_EXACTTARGETUSERNAME" value="~OutboundExactTargetUserName~" />
    <add key="OUTBOUND_EXACTTARGETPASSWORD" value="~OutboundExactTargetPassword~" />
    <add key="AES_CRYPTOGRAPHY_PASSWORD" value="~AesCryptographyPassword~" />
    <add key="AES_CRYPTOGRAPHY_SALT" value="~AesCryptographySalt~" />
    <add key="AES_CRYPTOGRAPHY_ITERATIONS" value="~AesCryptographyIterations~" />
    <!-- Latam Sales App Items-->
    <add key="DIGITAL_SCHEMA" value="~DigitalSchema~" />
    <add key="DIGITAL_TOKEN" value="~DigitalToken~" />
    <add key="DIGITAL_KEY" value="~DigitalKey~" />
    <add key="DIGITAL_URL" value="~DigitalUrl~" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SwitchUpAppleSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAppleCareService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_ICommunication">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" allowInsecureTransport="true" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://mia0wbtsm001.ad.assurant.com/Assurant.Integration.Wireless.VendorIntegration.ActivateProduct/ActivateProductService.svc" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="Antivirus.ActivateProduct.ActivateProductService" name="CustomBinding_IActivateProduct" />
      <endpoint address="http://mia0wbtsm001.ad.assurant.com/Assurant.Integration.Wireless.VendorIntegration.CancelProduct/CancelProduct.svc" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="Antivirus.CancelProduct.CancelProduct" name="CustomBinding_ICancelProduct" />
      <endpoint address="http://mia0wbtsm001.ad.assurant.com/Assurant.Integration.Wireless.VendorIntegration.UpdateProduct/UpdateProduct.svc" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="Antivirus.UpdateProduct.UpdateProduct" name="CustomBinding_IUpdateProduct" />
      <endpoint address="http://intra.apf-int.assurant.com/OutboundCommunication.Services/v6/Communication.svc" binding="customBinding" bindingConfiguration="CustomBinding_ICommunication" contract="OutboundCommunication.ICommunication" name="CustomBinding_ICommunication" />
      <endpoint address="http://www.ishopmixup.com/wsSwitchUp/SwitchUpApple.asmx" binding="basicHttpBinding" bindingConfiguration="SwitchUpAppleSoap" contract="MexicoIShopService.SwitchUpAppleSoap" name="SwitchUpAppleSoap" />
      <endpoint address="https://assurantposdev.cloudapp.net/AppleCareService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppleCareService" contract="AssurantMexicoService.IAppleCareService" name="BasicHttpBinding_IAppleCareService" />
      <endpoint address="http://148.244.108.13:8022/Service.asmx" binding="customBinding" bindingConfiguration="ServiceSoap12" contract="ASMMacStore.ServiceSoap" name="ServiceSoap12" /> 

    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <oracle.manageddataaccess.client>
    <version number="*">
      <LDAPsettings>
        <LDAPsetting name="DIRECTORY_SERVERS" value="(tnsnames-atl.assurant.com:389,tnsnames.assurant.com:389)" />
        <LDAPsetting name="DIRECTORY_SERVER_TYPE" value="oid" />
        <LDAPsetting name="DEFAULT_ADMIN_CONTEXT" value="dc=act,dc=assurant,dc=com" />
      </LDAPsettings>
      <settings>
        <setting name="NAMES.DIRECTORY_PATH" value="(LDAP)" />
      </settings>
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <!--<elitaConfiguration>
    <general environment="Development" hub="NO" machineDomain="NONE" fileClientDirectory="C:\ESC\" serviceOrderEmailSMTPServer="Mailrelay2005.etdbw.com" serviceOrderEmailAttachDirectory="C:/WebTemp/ElitaPlus/Reports/" ceMinTimeOut="2" cacheMaxAgeInMinutes="5"/>
    <database userName="elita" password="elidev" dataSourceName="elitaplus_dev" securedUserName="elp_app_user" securedPassword="elp1ple"/>
    <felita felitaUserId="ftpintl" felitaPassword="ftpintl1" reconUserId="adassurant\pv5k6b" reconPassword="assurant10" wcfUploadEndPoint="http://mia0wappt015/FelitaConnect/FelitaConnectService.svc" />
    <smartStream ftpUserId="ftpintl" ftpPassword="ftpintl1" wcfGLUserId="ELITA" wcfGLPassword="TestPwd2" wcfGLCertName="GLService" wcfAPUserId="ELITA" wcfAPPassword="TestPwd2" wcfAPCertName="Assurant Application" />
    <unixServer userId="elitaplus" password="elita2012" interfaceDirectory="C:\WebTemp\ElitaPlus\Interfaces\" />    
    <webService userId="elitanet" password="fresy" group="Services" />
  </elitaConfiguration>-->
  <elitaConfiguration>
    <general environment="~environment~" hub="~hub~" machineDomain="~machineDomain~" fileClientDirectory="~fileClientDirectory~" serviceOrderEmailSMTPServer="~serviceOrderEmailSMTPServer~" serviceOrderEmailAttachDirectory="~serviceOrderEmailAttachDirectory~" ceMinTimeOut="~ceMinTimeOut~" cacheMaxAgeInMinutes="~cacheMaxAgeInMinutes~" />
    <database userName="~databaseuserName~" password="~databasepassword~" dataSourceName="~dataSourceName~" securedUserName="~securedUserName~" securedPassword="~securedPassword~" dataProtectionUserName="~dataProtectionUserName~" dataProtectionPassword="~dataProtectionPassword~" />
    <security ldapServer="~ldapServer~" privacyGroup="~privacyGroup~" userManagementGroup="~userManagementGroup~" defaultGroup="~defaultLdapGroup~" allowedGroups="~allowedLdapGroups~" />
    <felita felitaUserId="~felitaUserId~" felitaPassword="~felitaPassword~" reconUserId="~reconUserId~" reconPassword="~reconPassword~" wcfUploadEndPoint="~wcfUploadEndPoint~" />
    <smartStream ftpUserId="~SSftpUserId~" ftpPassword="~SSftpPassword~" wcfGLUserId="~wcfGLUserId~" wcfGLPassword="~wcfGLPassword~" wcfGLCertName="~wcfGLCertName~" wcfAPUserId="~wcfAPUserId~" wcfAPPassword="~wcfAPPassword~" wcfAPCertName="~wcfAPCertName~" />
    <unixServer userId="~UnixUserId~" password="~Unixpassword~" interfaceDirectory="~interfaceDirectory~" />    
    <webService userId="~WSUserId~" password="~WSPassword~" group="~WSGroup~" />
  </elitaConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>
