<?xml version="1.0" encoding="utf-8" ?>
<DEPLOYMENT>
  <CONFIGURATOR>
    <Environment name="modl" >
      <SearchRecursive enable="False" />
      <Files name="ElitaSecurity.config" />
    </Environment>
    <Environment name="prod" >
      <SearchRecursive enable="False" />
      <Files name="ElitaSecurity.config" />
    </Environment>
  </CONFIGURATOR>
</DEPLOYMENT>