<?xml version="1.0" encoding="utf-8" ?>
<settingsSection>

 <add key="MANUAL_DB_CONNECTION" value=""></add>
  <add key="MANUAL_DB_USERID" value=""></add>
  <add key="MANUAL_DB_PASSWORD" value=""></add>
  <add key="MANUAL_HUB" value=""></add>
  <add key="MANUAL_DOMAIN" value=""></add>

  <!--  LOGGING Information for Development-->
  <!--
    <add key="ELITA_INITVECTOR" value="ElpIV2013"></add>
    <add key="DATABASE_USERID" value="jXmgSCh5f0HUAYNWiLZmRw=="></add>
    <add key="DATABASE_PASSWORD" value="81N7fbUrXibaNel+t+mTQg=="></add>
    <add key="DATABASE_USERID_EU" value="hwOm+zyGrSX12Q3k+M7PGA=="></add>
    <add key="DATABASE_PASSWORD_EU" value="81N7fbUrXibaNel+t+mTQg=="></add>
    <add key="FTP_DIRECTORY" value="1c1BLBQGwxuBLYjetMo+klDlZEHoeV6I2YaLiWNu4JrpEYAOBk6NTjxxt9kX2rSg"></add>
    <add key="FTP_USERID" value="uIuWvRMMpSd+g1H+Oqw/Lw=="></add>
    <add key="FTP_PASSWORD" value="xEM+hxE1U5x/HwUNKSBW4w=="></add>
  -->
</settingsSection>
