<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="development" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="test" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="modl" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="prod" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="settingsSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="externalSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="elitaConfiguration" type="Assurant.Elita.Configuration.ElitaConfigurationSectionGroup, Assurant.Elita.Configuration">
      <section name="general" type="Assurant.Elita.Configuration.GeneralSection, Assurant.Elita.Configuration" />
      <section name="database" type="Assurant.Elita.Configuration.DatabaseSection, Assurant.Elita.Configuration" />
      <section name="felita" type="Assurant.Elita.Configuration.FelitaSection, Assurant.Elita.Configuration" />
      <section name="smartStream" type="Assurant.Elita.Configuration.SmartStreamSection, Assurant.Elita.Configuration" />
      <section name="unixServer" type="Assurant.Elita.Configuration.UnixServerSection, Assurant.Elita.Configuration" />      
      <section name="webService" type="Assurant.Elita.Configuration.WebServiceSection, Assurant.Elita.Configuration" />
    </sectionGroup>
  </configSections>
  <settingsSection file="Settings.xml">
  </settingsSection>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="MONITOR_IN_DIRECTORY" value="\\atl0appstore1.cead.prd\elita{0}\Input"/>
    <add key="MONITOR_OUT_DIRECTORY" value="\\atl0appstore1.cead.prd\elita{0}\Output\"/>-->
    <!--<add key="MONITOR_IN_DIRECTORY" value="\\nearstore.assurant.com\elita{0}\Input" />
    <add key="MONITOR_OUT_DIRECTORY" value="\\nearstore.assurant.com\elita{0}\Output\" />-->
    <add key="MONITOR_IN_DIRECTORY" value="~transallfilefolder~\elita{0}\Input" />
    <add key="MONITOR_OUT_DIRECTORY" value="~transallfilefolder~\elita{0}\Output\" />
    <add key="FILE_EXTENSION" value=".txt,.csv,.dat" />
    <add key="OUTPUT_FILE_TRIGGER_EXTENSION" value=".OUT" />
    <add key="OUTPUT_FILE_EXTENSION" value=".txt" />
    <add key="PROCESS_EXT" value=".prc" />
    <add key="KILL_EXT" value=".kill" />
    <!-- Infrastructure Items -->
    <add key="SMTPMAILSERVER" value="mailrelay2005.etdbw.com" />
    <add key="EVENTSOURCE" value="ElitaTransallService" />
    <add key="EVENTLOG" value="ElitaPlus" />
    <add key="NETWORKID" value="tranws" />
    <add key="DELAYTIME" value="10000" />
    <add key="ERRORMAIL" value="elita_info@assurant.com" />
    <!-- The following keys are to obtain the connection type \ Domain name per region -->
    <!--Development Environment Settings-->
    <add key="DEVELOPMENT" value="IN\ATL0" />
    <!--Test Environment Settings-->
    <add key="TEST2" value="T2\ATL0" />
    <add key="TESTA1" value="A1\ATL0" />
    <add key="TESTE1" value="E1\MAN0" />
    <add key="TESTC1" value="C1\ATL0" />
    <add key="TESTC2" value="C2\ATL0" />
    <add key="TESTA2" value="A2\ATL0" />
    <add key="TESTE2" value="E2\MAN0" />
    <!--Model Environment Settings-->
    <add key="AMERICAS1" value="A1\ATL0" />
    <add key="EUROPE1" value="E1\MAN0" />
    <add key="CHINA1" value="C1\PEK0" />
    <add key="AMERICAS2" value="A2\ATL0" />
    <add key="EUROPE2" value="E2\MAN0" />
    <add key="CHINA2" value="C2\PEK0" />
    <!--Production Environment Settings-->
    <add key="AMERICAS" value="SA\ATL0" />
    <!--<add key="EUROPE" value="EU\ATL0"/>-->
    <add key="EUROPE" value="EU\MAN0" />
    <add key="CHINA" value="AS\PEK0" />
    <add key="COMMAND_LINE" value="E:\Program Files\Docucorp\Transall 11.3\TranExe.exe" />
    <add key="TEMP_FOLDER" value="TEMP" />
    <add key="PROCESSED_FOLDER" value="PROCESSED" />
    <add key="ERROR_FOLDER" value="ERROR" />
    <add key="LOG_FOLDER" value="LOG" />
    <!--Log_switch = 0 : Seperate in DB & File , 1: All in DB , 2: All in File under Log folder -->
    <add key="LOG_SWITCH" value="0" />
    <add key="TRC_EXT" value=".trc" />
    <add key="LOG_EXT" value=".log" />
    <!--LOG_DB = {0} : Will replace hub region as that of SA. If specific DB other than americas is required for logging need to put direct value instead of {0} -->
    <!--App.config-->
    <add key="LOG_DB" value="A1\ATL0" />
    <add key="LOG_DB_PROD" value="SA\ATL0" />
    <add key="BYPASS_KEYWORD" value="NONE" />
    <!--Value = 0 : Will store Output file after transfer to FTP. when 1 : it will delete txt,out files when transfered to FTP  -->
    <add key="CLEAN_OUTPUT" value="1" />
    <!--Value = All the files older than set value will get considered for deleting. 0 : file will be deleted immediatly provided Clean_Output flag = 1 -->
    <add key="DAYS_TO_KEEP" value="45" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <oracle.manageddataaccess.client>
    <version number="*">
      <LDAPsettings>
        <LDAPsetting name="DIRECTORY_SERVERS" value="(tnsnames-atl.assurant.com:389,tnsnames.assurant.com:389)" />
        <!--<LDAPsetting name="DIRECTORY_SERVERS" value="(tnsnames-atl.assurant.com:389,tnsnames.assurant.com:389,tnsnames-msp.assurant.com:389,tnsnames-mia.assurant.com:389)" />-->
        <LDAPsetting name="DIRECTORY_SERVER_TYPE" value="OID" />
        <LDAPsetting name="DEFAULT_ADMIN_CONTEXT" value="dc=act,dc=assurant,dc=com" />
      </LDAPsettings>
      <settings>
        <setting name="NAMES.DIRECTORY_PATH" value="(LDAP, TNSNAMES)" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <!--<elitaConfiguration>
    <general environment="Development" hub="" machineDomain="" fileClientDirectory="C:\ESC\" serviceOrderEmailSMTPServer="Mailrelay2005.etdbw.com" serviceOrderEmailAttachDirectory="C:/WebTemp/ElitaPlus/Reports/" ceMinTimeOut="2" cacheMaxAgeInMinutes="5"/>
    <database userName="elp_app_user" password="elp1ple" dataSourceName="" securedUserName="elp_app_user" securedPassword="elp1ple"/>
    <felita felitaUserId="ftpintl" felitaPassword="ftpintl1" reconUserId="adassurant\pv5k6b" reconPassword="assurant10" wcfUploadEndPoint="http://mia0wappt015/FelitaConnect/FelitaConnectService.svc" />
    <smartStream ftpUserId="ftpintl" ftpPassword="ftpintl1" wcfGLUserId="ELITA" wcfGLPassword="TestPwd2" wcfGLCertName="GLService" wcfAPUserId="ELITA" wcfAPPassword="TestPwd2" wcfAPCertName="Assurant Application" />
    <unixServer userId="elitaplus" password="elita2012" interfaceDirectory="C:\WebTemp\ElitaPlus\Interfaces\" />    
    <webService userId="elitanet" password="fresy" group="Services" />
  </elitaConfiguration>-->
  <elitaConfiguration>
    <general environment="~environment~" hub="~hub~" machineDomain="~machineDomain~" fileClientDirectory="~fileClientDirectory~" serviceOrderEmailSMTPServer="~serviceOrderEmailSMTPServer~" serviceOrderEmailAttachDirectory="~serviceOrderEmailAttachDirectory~" ceMinTimeOut="~ceMinTimeOut~" cacheMaxAgeInMinutes="~cacheMaxAgeInMinutes~" />
    <database userName="~databaseuserName~" password="~databasepassword~" dataSourceName="~dataSourceName~" securedUserName="~securedUserName~" securedPassword="~securedPassword~" />
    <felita felitaUserId="~felitaUserId~" felitaPassword="~felitaPassword~" reconUserId="~reconUserId~" reconPassword="~reconPassword~" wcfUploadEndPoint="~wcfUploadEndPoint~" />
    <smartStream ftpUserId="~SSftpUserId~" ftpPassword="~SSftpPassword~" wcfGLUserId="~wcfGLUserId~" wcfGLPassword="~wcfGLPassword~" wcfGLCertName="~wcfGLCertName~" wcfAPUserId="~wcfAPUserId~" wcfAPPassword="~wcfAPPassword~" wcfAPCertName="~wcfAPCertName~" />
    <unixServer userId="~UnixUserId~" password="~Unixpassword~" interfaceDirectory="~interfaceDirectory~" />
    <webService userId="~WSUserId~" password="~WSPassword~" group="~WSGroup~" />
  </elitaConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.1.0" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
