<?xml version="1.0" encoding="utf-8" ?>
<DEPLOYMENT>
  <ANetInstall>
    <Environment name="test" >
      <Service name="ElitaTransallService2" overrideuser="False" encrypted="True">
        <Path>E:\Applications\ElitaTransallFileSystemService2\ElitaTransallFileSystemService.exe</Path>
        <DisplayName>ElitaTransallService2</DisplayName>
        <Description>ElitaTransallService2</Description>
        <Username>agmia0_nt1\assurnetbatch</Username>
        <Password>^53^2YN451Al0G91SSRCnA==</Password>
        <Servers>
          <Server name="MIA0TAPPF4" online="True"/>
          <Server name="MIA0WAPPM004" online="False"/>
          <Server name="ATL0WBATD010" online="True"/>
          <Server name="MSP0WBATD010" online="False"/>
          <Server name="AEC0WBATT201" online="True"/>
          <Server name="MAN0WBATD001" online="True"/>
        </Servers>
      </Service>
    </Environment>
    <Environment name="modl" >
      <Service name="ElitaTransallService2" overrideuser="False" encrypted="True">
        <Path>E:\Applications\ElitaTransallFileSystemService2\ElitaTransallFileSystemService.exe</Path>
        <DisplayName>ElitaTransallService2</DisplayName>
        <Description>ElitaTransallService2</Description>
        <Username>agmia0_nt1\assurnetbatch</Username>
        <Password>^53^2YN451Al0G91SSRCnA==</Password>
        <Servers>
          <Server name="MIA0TAPPF2" online="True"/>
          <Server name="ATL0WBATM010" online="True"/>
          <Server name="MAN0WBATM001" online="True"/>
          <Server name="MSP0WBATM010" online="False"/>
          <Server name="AEC0WBATM201" online="True"/>
        </Servers>
      </Service>
    </Environment>
    <Environment name="prod" >
      <Service name="ElitaTransallService" overrideuser="False" encrypted="True">
        <Path>E:\Applications\ElitaTransallFileSystemService\ElitaTransallFileSystemService.exe</Path>
        <DisplayName>ElitaTransallService</DisplayName>
        <Description>ElitaTransallService</Description>
        <Username>agmia0_nt1\assurnetbatch</Username>
        <Password>^53^2YN451Al0G91SSRCnA==</Password>
        <Servers>
          <Server name="ATL0WTRSP001" online="True"/>
          <Server name="ATL0WBATP010" online="True"/>
          <Server name="MSP0WBATP010" online="False"/>
          <Server name="MAN0WBATP001" online="True"/>
          <Server name="AEC0WBATP201" online="True"/>
        </Servers>
      </Service>
    </Environment>
  </ANetInstall>
</DEPLOYMENT>