<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3"
      type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="development"
      type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="test" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="modl" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="prod" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="settingsSection"
      type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="externalSection"
      type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ElitaBatchServices.My.MySettings"
        type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ElitaBatchServices.My.MySettings"
        type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="elitaConfiguration" type="Assurant.Elita.Configuration.ElitaConfigurationSectionGroup, Assurant.Elita.Configuration">
      <section name="general" type="Assurant.Elita.Configuration.GeneralSection, Assurant.Elita.Configuration"/>
      <section name="database" type="Assurant.Elita.Configuration.DatabaseSection, Assurant.Elita.Configuration"/>
      <section name="felita" type="Assurant.Elita.Configuration.FelitaSection, Assurant.Elita.Configuration"/>
      <section name="smartStream" type="Assurant.Elita.Configuration.SmartStreamSection, Assurant.Elita.Configuration"/>
      <section name="unixServer" type="Assurant.Elita.Configuration.UnixServerSection, Assurant.Elita.Configuration"/>
      <section name="webService" type="Assurant.Elita.Configuration.WebServiceSection, Assurant.Elita.Configuration"/>
    </sectionGroup>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <settingsSection file="Settings.xml">
  </settingsSection>
  <externalSection file="E:/Config/ElitaPlus/ElitaExternal.xml">
  </externalSection>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
        initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
	<!--Development Settings-->
	<add key="MANUAL_DOMAIN_TEST_NO" value="ATL0"/>
	<!--Test Settings-->
	<add key="MANUAL_DOMAIN_TEST_T1" value="ATL0"/>
	<add key="MANUAL_DOMAIN_TEST_T2" value="ATL0"/>
	<!--Model Settings-->
	<add key="MANUAL_DOMAIN_MODL_A1" value="ATL0"/>
	<add key="MANUAL_DOMAIN_MODL_A2" value="ATL0"/>
	<add key="MANUAL_DOMAIN_MODL_C1" value="PEK0"/>
	<add key="MANUAL_DOMAIN_MODL_C2" value="PEK0"/>
	<add key="MANUAL_DOMAIN_MODL_E1" value="ATL0"/>
	<add key="MANUAL_DOMAIN_MODL_E2" value="ATL0"/>
	<!--Production Settings-->
	<add key="MANUAL_DOMAIN_PROD_SA" value="ATL0"/>
	<add key="MANUAL_DOMAIN_PROD_AS" value="PEK0"/>
	  
	<add key="DEBUG_LOG" value="true"/>
    <add key="DEBUG_LOGIN" value="true"/>
    <add key="TRACE_ON" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ElitaBatchServices.AccountingWSBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ElitaBatchServices.GVSInterfaceHistoryWSBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ElitaBatchServices.TestServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ElitaBatchServices.AccountingWSBehavior" name="ElitaBatchServices.AccountingWS">
        <endpoint address="http://localhost:8000/ElitaBatchServices/AccountingWS/" binding="basicHttpBinding" contract="ElitaBatchServices.IAccountingWS"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ElitaBatchServices/AccountingWS/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ElitaBatchServices.GVSInterfaceHistoryWSBehavior" name="ElitaBatchServices.GVSInterfaceHistoryWS">
        <endpoint address="http://localhost:8000/ElitaBatchServices/GVSInterfaceHistoryWS/" binding="basicHttpBinding"
          contract="ElitaBatchServices.IGVSInterfaceHistoryWS"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ElitaBatchServices/GVSInterfaceHistoryWS/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ElitaBatchServices.TestServiceBehavior" name="ElitaBatchServices.TestService">
        <endpoint address="http://localhost:8000/ElitaBatchServices/TestService/" binding="basicHttpBinding" contract="ElitaBatchServices.ITestService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ElitaBatchServices/TestService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <userSettings>
    <ElitaBatchServices.My.MySettings>
      <setting name="isRunning" serializeAs="String">
        <value>False</value>
      </setting>
    </ElitaBatchServices.My.MySettings>
  </userSettings>
  <applicationSettings>
    <ElitaBatchServices.My.MySettings>
      <setting name="TimerInterval" serializeAs="String">
        <value>60000</value>
      </setting>
    </ElitaBatchServices.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
<oracle.manageddataaccess.client>
  <version number="*">
    <LDAPsettings>
      <LDAPsetting name="DIRECTORY_SERVERS" value="(tnsnames-atl.assurant.com:389,tnsnames.assurant.com:389)"/>
      <!--<LDAPsetting name="DIRECTORY_SERVERS" value="(tnsnames-atl.assurant.com:389,tnsnames.assurant.com:389,tnsnames-msp.assurant.com:389,tnsnames-mia.assurant.com:389)" />-->
      <LDAPsetting name="DIRECTORY_SERVER_TYPE" value="OID"/>
      <LDAPsetting name="DEFAULT_ADMIN_CONTEXT" value="dc=act,dc=assurant,dc=com"/>
    </LDAPsettings>
    <settings>
      <setting name="NAMES.DIRECTORY_PATH" value="(LDAP, TNSNAMES)"/>
    </settings>
    <dataSources>
      <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
    </dataSources>
  </version>
</oracle.manageddataaccess.client>
  <!--<elitaConfiguration>
    <general environment="Development" hub="" machineDomain="" fileClientDirectory="C:\ESC\" serviceOrderEmailSMTPServer="Mailrelay2005.etdbw.com" serviceOrderEmailAttachDirectory="C:/WebTemp/ElitaPlus/Reports/" ceMinTimeOut="2" cacheMaxAgeInMinutes="5"/>
    <database userName="elp_app_user" password="elp1ple" dataSourceName="" securedUserName="elp_app_user" securedPassword="elp1ple"/>
    <felita felitaUserId="ftpintl" felitaPassword="ftpintl1" reconUserId="adassurant\pv5k6b" reconPassword="assurant10" wcfUploadEndPoint="http://mia0wappt015/FelitaConnect/FelitaConnectService.svc" />
    <smartStream ftpUserId="ftpintl" ftpPassword="ftpintl1" wcfGLUserId="ELITA" wcfGLPassword="TestPwd2" wcfGLCertName="GLService" wcfAPUserId="ELITA" wcfAPPassword="TestPwd2" wcfAPCertName="Assurant Application" />
    <unixServer userId="elitaplus" password="elita2012" interfaceDirectory="C:\WebTemp\ElitaPlus\Interfaces\" />    
    <webService userId="elitanet" password="fresy" group="Services" />
  </elitaConfiguration>-->
  <elitaConfiguration>
    <general environment="~environment~" hub="~hub~" machineDomain="~machineDomain~" fileClientDirectory="~fileClientDirectory~"
      serviceOrderEmailSMTPServer="~serviceOrderEmailSMTPServer~" serviceOrderEmailAttachDirectory="~serviceOrderEmailAttachDirectory~"
      ceMinTimeOut="~ceMinTimeOut~" cacheMaxAgeInMinutes="~cacheMaxAgeInMinutes~"/>
    <database userName="~databaseuserName~" password="~databasepassword~" dataSourceName="~dataSourceName~" securedUserName="~securedUserName~"
      securedPassword="~securedPassword~"/>
    <felita felitaUserId="~felitaUserId~" felitaPassword="~felitaPassword~" reconUserId="~reconUserId~" reconPassword="~reconPassword~"
      wcfUploadEndPoint="~wcfUploadEndPoint~"/>
    <smartStream ftpUserId="~SSftpUserId~" ftpPassword="~SSftpPassword~" wcfGLUserId="~wcfGLUserId~" wcfGLPassword="~wcfGLPassword~"
      wcfGLCertName="~wcfGLCertName~" wcfAPUserId="~wcfAPUserId~" wcfAPPassword="~wcfAPPassword~" wcfAPCertName="~wcfAPCertName~"/>
    <unixServer userId="~UnixUserId~" password="~Unixpassword~" interfaceDirectory="~interfaceDirectory~"/>   
    <webService userId="~WSUserId~" password="~WSPassword~" group="~WSGroup~"/>
  </elitaConfiguration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
