<?xml version="1.0" encoding="utf-8" ?>
<DEPLOYMENT>
  <ANetInstall>
    <Environment name="test" >
      <Service name="ElitaBatchServices" overrideuser="False" encrypted="True">
        <Path>E:\Applications\ElitaBatchServices\ElitaBatchServices.exe</Path>
        <DisplayName>ElitaBatchServices</DisplayName>
        <Description>ElitaBatchServices</Description>
		<Username>ADASSURANT\assurnetbatch</Username>
        <Password>^53^2YN451Al0G91SSRCnA==</Password>
        <Servers>
          <Server name="MIA0TAPPF4" online="True"/>
          <Server name="ATL0WBATD010" online="True"/>
          <Server name="MIA0WAPPM004" online="False"/>
          <Server name="MSP0WBATD010" online="False"/>
          <Server name="AEC0WBATT201" online="True"/>
          <Server name="MAN0WBATD001" online="True"/>
        </Servers>
      </Service>
    </Environment>
    <Environment name="modl" >
      <Service name="ElitaBatchServices" overrideuser="False" encrypted="True">
        <Path>E:\Applications\ElitaBatchServices\ElitaBatchServices.exe</Path>
        <DisplayName>ElitaBatchServices</DisplayName>
        <Description>ElitaBatchServices</Description>
        <Username>ADASSURANT\assurnetbatch</Username>
        <Password>^53^2YN451Al0G91SSRCnA==</Password>
        <Servers>
          <Server name="MIA0TAPPF2" online="True"/>
          <Server name="ATL0WBATM010" online="True"/>
          <Server name="MSP0WBATM010" online="False"/>
          <Server name="MAN0WBATM001" online="True"/>
          <Server name="AEC0WBATM201" online="True"/>
        </Servers>
      </Service>
    </Environment>
    <Environment name="prod" >
      <Service name="ElitaBatchServices" overrideuser="False" encrypted="True">
        <Path>E:\Applications\ElitaBatchServices\ElitaBatchServices.exe</Path>
        <DisplayName>ElitaBatchServices</DisplayName>
        <Description>ElitaBatchServices</Description>
        <Username>ADASSURANT\assurnetbatch</Username>
        <Password>^53^2YN451Al0G91SSRCnA==</Password>
        <Servers>
          <Server name="ATL0TAPP41" online="True"/>
          <Server name="MIA0TAPPF3" online="False"/>
          <Server name="MIA0WBATP001" online="False"/>
          <Server name="ATL0WBATP010" online="True"/>
          <Server name="MSP0WBATP010" online="False"/>
          <Server name="MAN0WBATP001" online="True"/>
          <Server name="AEC0WBATP201" online="True"/>
        </Servers>
      </Service>
    </Environment>
  </ANetInstall>
</DEPLOYMENT>