<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <oracle.manageddataaccess.client>
    <version number="*">
      <LDAPsettings>
        <LDAPsetting name="DIRECTORY_SERVERS" value="(tnsnames-atl.assurant.com:389,tnsnames.assurant.com:389)"/>
        <LDAPsetting name="DIRECTORY_SERVER_TYPE" value="oid"/>
        <LDAPsetting name="DEFAULT_ADMIN_CONTEXT" value="dc=act,dc=assurant,dc=com"/>
      </LDAPsettings>
      <settings>
        <setting name="NAMES.DIRECTORY_PATH" value="(LDAP)"/>
      </settings>
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <!--For Dev A2 -->
    <!--<add name="CertificateContext" connectionString="metadata=res://*/Certificates.CertificateDataModel.csdl|res://*/Certificates.CertificateDataModel.ssdl|res://*/Certificates.CertificateDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
    <add name="CommonContext" connectionString="metadata=res://*/Common.CommonDataModel.csdl|res://*/Common.CommonDataModel.ssdl|res://*/Common.CommonDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
    <add name="CompanyContext" connectionString="metadata=res://*/Companies.CompanyDataModel.csdl|res://*/Companies.CompanyDataModel.ssdl|res://*/Companies.CompanyDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
    <add name="CountryContext" connectionString="metadata=res://*/Common.CountryDataModel.csdl|res://*/Common.CountryDataModel.ssdl|res://*/Common.CountryDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;CONNECTION TIMEOUT=25;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
    <add name="AddressContext" connectionString="metadata=res://*/Common.AddressDataModel.csdl|res://*/Common.AddressDataModel.ssdl|res://*/Common.AddressDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;CONNECTION TIMEOUT=25;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
    <add name="CompanyGroupContext" connectionString="metadata=res://*/CompanyGroup.CompanyGroupDataModel.csdl|res://*/CompanyGroup.CompanyGroupDataModel.ssdl|res://*/CompanyGroup.CompanyGroupDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
    <add name="CurrencyContext" connectionString="metadata=res://*/Common.CurrencyDataModel.csdl|res://*/Common.CurrencyDataModel.ssdl|res://*/Common.CurrencyDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
    <add name="EquipmentContext" connectionString="metadata=res://*/Equipment.EquipmentDataModel.csdl|res://*/Equipment.EquipmentDataModel.ssdl|res://*/Equipment.EquipmentDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
    <add name="ClaimContext" connectionString="metadata=res://*/Claims.ClaimDataModel.csdl|res://*/Claims.ClaimDataModel.ssdl|res://*/Claims.ClaimDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
    <add name="DealerContext" connectionString="metadata=res://*/Dealers.DealerDataModel.csdl|res://*/Dealers.DealerDataModel.ssdl|res://*/Dealers.DealerDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

    <!-- DEV-->
    <add name="CertificateContext"
      connectionString="metadata=res://*/Certificates.CertificateDataModel.csdl|res://*/Certificates.CertificateDataModel.ssdl|res://*/Certificates.CertificateDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="DealerContext"
      connectionString="metadata=res://*/Dealers.DealerDataModel.csdl|res://*/Dealers.DealerDataModel.ssdl|res://*/Dealers.DealerDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="CommonContext"
      connectionString="metadata=res://*/Common.CommonDataModel.csdl|res://*/Common.CommonDataModel.ssdl|res://*/Common.CommonDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="CompanyContext"
      connectionString="metadata=res://*/Companies.CompanyDataModel.csdl|res://*/Companies.CompanyDataModel.ssdl|res://*/Companies.CompanyDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="CountryContext"
      connectionString="metadata=res://*/Common.CountryDataModel.csdl|res://*/Common.CountryDataModel.ssdl|res://*/Common.CountryDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;CONNECTION TIMEOUT=25;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="AddressContext"
      connectionString="metadata=res://*/Common.AddressDataModel.csdl|res://*/Common.AddressDataModel.ssdl|res://*/Common.AddressDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;CONNECTION TIMEOUT=25;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="CompanyGroupContext"
      connectionString="metadata=res://*/CompanyGroup.CompanyGroupDataModel.csdl|res://*/CompanyGroup.CompanyGroupDataModel.ssdl|res://*/CompanyGroup.CompanyGroupDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="CurrencyContext"
      connectionString="metadata=res://*/Common.CurrencyDataModel.csdl|res://*/Common.CurrencyDataModel.ssdl|res://*/Common.CurrencyDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="EquipmentContext"
      connectionString="metadata=res://*/Equipment.EquipmentDataModel.csdl|res://*/Equipment.EquipmentDataModel.ssdl|res://*/Equipment.EquipmentDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="ClaimContext"
      connectionString="metadata=res://*/Claims.ClaimDataModel.csdl|res://*/Claims.ClaimDataModel.ssdl|res://*/Claims.ClaimDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=atl0loran114.atl0.assurant.com:1522/v4d4ela2;PASSWORD=elidev;PERSIST SECURITY INFO=True;USER ID=ELITA&quot;"
      providerName="System.Data.EntityClient"/>
    
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
<system.data>
<DbProviderFactories>
<remove invariant="Oracle.ManagedDataAccess.Client"/>
<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
</DbProviderFactories>
</system.data>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<publisherPolicy apply="no"/>
<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
</configuration>
