<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="development" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="test" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="modl" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="prod" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="settingsSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="externalSection" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="elitaConfiguration" type="Assurant.Elita.Configuration.ElitaConfigurationSectionGroup, Assurant.Elita.Configuration">
      <section name="general" type="Assurant.Elita.Configuration.GeneralSection, Assurant.Elita.Configuration" />
      <section name="database" type="Assurant.Elita.Configuration.DatabaseSection, Assurant.Elita.Configuration" />
      <section name="security" type="Assurant.Elita.Configuration.SecuritySection, Assurant.Elita.Configuration" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
   <elitaConfiguration> 
    <!--<general environment="Development" component="ClaimService"/>-->
    <!--<general environment="Development" component="ClaimService" integrateWorkQueueImagingServices="False" hub="NO" machineDomain="NONE" fileClientDirectory="C:\ESC\" serviceOrderEmailSMTPServer="Mailrelay2005.etdbw.com" serviceOrderEmailAttachDirectory="C:/WebTemp/ElitaPlus/Reports/" ceMinTimeOut="2" cacheMaxAgeInMinutes="5" />-->
    <general environment="Dev" component="ElitaPlus" integrateWorkQueueImagingServices="False" hub="" machineDomain="NONE" fileClientDirectory="C:\ESC\" serviceOrderEmailSMTPServer="Mailrelay2005.etdbw.com" serviceOrderEmailAttachDirectory="C:/WebTemp/ElitaPlus/Reports/" ceMinTimeOut="2" cacheMaxAgeInMinutes="5" />
    <!--<database userName="elita" password="elidev" dataSourceName="elitaplus_dev"/>-->
    <database userName="elita" password="elidev" dataSourceName="elitaplus_dev_a2"/>
    <security ldapServer="LDAP://directorydev.assurant.com:389" privacyGroup="" userManagementGroup="ElitaPlus" defaultGroup="Services" allowedGroups="InternalUsers" />
  </elitaConfiguration>
  <settingsSection file="Settings.xml"></settingsSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <oracle.manageddataaccess.client>
    <version number="*">
      <LDAPsettings>
        <LDAPsetting name="DIRECTORY_SERVERS" value="(tnsnames-atl.assurant.com:389,tnsnames.assurant.com:389)" />
        <LDAPsetting name="DIRECTORY_SERVER_TYPE" value="oid" />
        <LDAPsetting name="DEFAULT_ADMIN_CONTEXT" value="dc=act,dc=assurant,dc=com" />
      </LDAPsettings>
      <settings>
        <setting name="NAMES.DIRECTORY_PATH" value="(LDAP)" />
      </settings>
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>