<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assurant.Elita.Base.DataAccess" version="5.0.8" targetFramework="net462" />
  <package id="Assurant.Elita.Base.DataElements" version="1.0.0" targetFramework="net462" />
  <package id="Assurant.Elita.CommonConfiguration" version="2.1.13" targetFramework="net462" />
  <package id="Assurant.Elita.Configuration" version="5.0.3" targetFramework="net462" />
  <package id="Assurant.Elita.Premitives" version="1.2.1" targetFramework="net462" />
  <package id="Assurant.Elita.Primitives" version="2.1.2" targetFramework="net462" />
  <package id="Elita.Assurant.Common.Types" version="2.0.0" targetFramework="net462" />
  <package id="Elita.Common.MessagePublishing" version="2.0.4" targetFramework="net462" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net462" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net462" />
  <package id="VS.QualityTools.UnitTestFramework" version="15.0.27323.2" targetFramework="net462" />
</packages>